.punkListData{
    display: flex;
    overflow: scroll;
    cursor: pointer;
    padding-bottom: 30px;
    margin-top: 20px;
    border-bottom: 2px solid white;
}

.punkListData::-webkit-scrollbar{
    display: none;
}